*.iml
.gradle
/.DS_Store
/gradle
/projectFilesBackup
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/gradle.properties
/gradlew
/gradlew.bat
/app/build
/app/libs
/app/src/test/
/app/src/androidTest/
.externalNativeBuild
.cxx

#temp file
notes.txt